@use "variables" as *;

* {
  box-sizing: border-box; /* Глобальное правило для корректного расчета размеров */
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-box {
  background: $input-bg;
  padding: 40px;
  border-radius: 10px;
  width: 350px;
  text-align: center;
}

.error {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

input,
button {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
}

input {
  background: $input-bg;
  color: $text-color;
}

button {
  background: $button-bg;
  color: white;
  cursor: pointer;
  transition: background 0.3s;

  &:hover {
    background: $button-hover;
  }
}

/* Новый стиль для ссылки регистрации */
.register-link {
  margin-top: 15px;
  font-size: 14px;
  color: $text-color;

  a {
    color: $button-bg;
    text-decoration: none;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
      color: $button-hover;
    }
  }
}
